@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Share Tech Mono';
  background: black;
}

.preloader {
  height: 100%;
  width: 100%;
  display: table;
  color: #4b853d;
  text-align: center;
  font-size: 16px;
}

.preloader > div {
  display: table-cell;
  vertical-align: middle;
}

textarea {
  font-family: 'Share Tech Mono';
  background: black;
  color: white;
  border: none;
  resize: none;
}

textarea:focus {
  border: none;
  outline: none;
}

button {
  padding: 12px;
  font-size: 16px;
  font-family: 'Share Tech Mono';
  text-transform: uppercase;
}

.table {
  display: table;
  width: 100%;
}

.table .cell {
  display: table-cell;
  vertical-align: middle;
}
